<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Log In</title>
        <meta name="description" content="Form to log in">
        <meta name="author" content="Adam Hampachel">
        <link href="{{host}}/styles/style-login.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{host}}/bootstrap/dist/css/bootstrap.min.css">           
        <script type="text/javascript" src="{{host}}jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="{{host}}/bootstrap/dist/js/bootstrap.min.js"></script>  
        <script type="module" src="{{host}}/main.js"></script>      
    </head>   
    <body class="login-body">
        <section id="login">
            <article class="container">
                <article id="login-row" class="row justify-content-center align-items-center">
                    <article id="login-column" class="col-md-6">
                        <article id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Welcome!</h3>
                                    {{#if msg}}
                                        <p class="alert alert-danger" role="alert">{{msg}}</p>
                                    {{/if}}	
                                <article class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input class="form-control" type="text" id="UserName" name="UserName" required value="{{body.UserName}}" autofocus>
                                </article>
                                <article class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input class="form-control" type="password" id="password" name="Password" required value="{{body.Password}}">
                                </article>
                                <article class="form-group">
                                    <input type="hidden" name="referrer" value="{{referrer}}">
                                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Log in">
                                </article>
                            </form>
                        </article>
                    </article>
                </article>
            </article>
        </section>
    </body>
</html>    