<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Create an Account</title>
        <meta name="description" content="Registration form to create users">
        <meta name="author" content="Adam Hampachel">
        <link href="{{host}}/styles/style.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{host}}/bootstrap/dist/css/bootstrap.min.css">           
        <script type="text/javascript" src="{{host}}/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="{{host}}/bootstrap/dist/js/bootstrap.min.js"></script>  
        <script type="module" src="{{host}}/main.js"></script>      
    </head> 
    <body>
        <header> 
            <ul class="nav justify-content">
                <li class="nav-item nav-main">
                    <a class="nav-link nav-a" href="/secure/profile">{{username}}</a>
                </li>
                <li class="nav-item nav-menu">
                    <a class="nav-link nav-a" href="/secure/orders">Orders</a>
                </li>
                <li class="nav-item nav-menu">
                    <a class="nav-link nav-a" href="/secure/tables">Tables</a>
                </li>
                <li class="nav-item nav-menu">
                    <a class="nav-link nav-a" href="/secure/menu">Menu</a>
                </li>
                <li class="nav-item nav-menu">
                    <a class="nav-link nav-a" href="/logout">Logout</a>
                </li>
            </ul>
        </header>      
        <main class="block">
            <article class="container-fluid p-5 bg-dark">  
                <section class="row justify-content">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-b nav-link active" id="placed-tab" data-toggle="tab" href="#placed" role="tab" aria-controls="placed" aria-selected="true">Placed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-b nav-link" id="prepared-tab" data-toggle="tab" href="#prepared" role="tab" aria-controls="prepared" aria-selected="false">Prepared</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-b nav-link" id="served-tab" data-toggle="tab" href="#served" role="tab" aria-controls="served" aria-selected="false">Served</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-b nav-link" id="finished-tab" data-toggle="tab" href="#finished" role="tab" aria-controls="finished" aria-selected="false">Finished</a>
                        </li>                        
                    </ul>
                </section> 
                <article class="tab-content profile-tab" id="myTabContent">
                    <section class="tab-pane fade show active" id="placed" role="tabpanel" aria-labelledby="placed-tab">
                        <article class="row row-cols-1 row-cols-2">
                          {{#each Placed}}
                            <form action="/secure/orders/{{this.OrderId}}" enctype="multipart/form-data" method="get">
                              <article class="row">                                     
                                  <article class="col mb-3">
                                    <article class="card">                  
                                        <button type="submit" class="btn btn-outline-secondary btn-block" name="Order" value="{{this.OrderId}}">
                                            <article class="row"> 
                                                <article class="col 1">
                                                   <p>Created: {{this.CreatedAt}}</p>
                                                </article>
                                                <article class="col 3">
                                                    {{#if this.UpdatedAt}}
                                                   <p>Last Update: {{this.UpdatedAt}}</p>
                                                    {{else}}
                                                   <p>Last Update: Not Updated</p>
                                                    {{/if}}
                                                </article>
                                            </article>
                                            <article class="row">  
                                                <article class="col 1">
                                                  <h2>Status: {{this.Status}}</h2>
                                                </article>
                                                <article class="col 3">            
                                                  <p>Table: {{this.TableName}} ID: {{this.TableId}}</p>
                                                  <p>Created by: {{this.CreatorName}}</p>
                                                  <p>Number of Diners: {{this.Diners}}</p>
                                                </article>
                                            </article>   
                                         </button>
                                    </article>   
                                  </article>
                                </article>
                             </form>
                           {{/each}}
                        </article>
                    </section>
                    <section class="tab-pane fade" id="prepared" role="tabpanel" aria-labelledby="prepared-tab">
                        <article class="row row-cols-1 row-cols-2">
                          {{#each Prepared}}
                            <form action="/secure/orders/{{this.OrderId}}" enctype="multipart/form-data" method="get">
                              <article class="row">                                     
                                  <article class="col mb-3">
                                    <article class="card">                  
                                        <button type="submit" class="btn btn-outline-secondary btn-block" name="Order" value="{{this.OrderId}}">
                                            <article class="row"> 
                                                <article class="col 1">
                                                   <p>Created: {{this.CreatedAt}}</p>
                                                </article>
                                                <article class="col 3">
                                                    {{#if this.UpdatedAt}}
                                                   <p>Last Update: {{this.UpdatedAt}}</p>
                                                    {{else}}
                                                   <p>Last Update: Not Updated</p>
                                                    {{/if}}
                                                </article>
                                            </article>
                                            <article class="row">  
                                                <article class="col 1">
                                                  <h2>Status: {{this.Status}}</h2>
                                                </article>
                                                <article class="col 3">            
                                                  <p>Table: {{this.TableName}} ID: {{this.TableId}}</p>
                                                  <p>Created by: {{this.CreatorName}}</p>
                                                  <p>Number of Diners: {{this.Diners}}</p>
                                                </article>
                                            </article>   
                                         </button>
                                    </article>   
                                  </article>
                                </article>
                             </form>
                           {{/each}}
                        </article>                        
                    </section>
                    <section class="tab-pane fade" id="served" role="tabpanel" aria-labelledby="served-tab">
                        <article class="row row-cols-1 row-cols-2">
                          {{#each Served}}
                            <form action="/secure/orders/{{this.OrderId}}" enctype="multipart/form-data" method="get">
                              <article class="row">                                     
                                  <article class="col mb-3">
                                    <article class="card">                  
                                        <button type="submit" class="btn btn-outline-secondary btn-block" name="Order" value="{{this.OrderId}}">
                                            <article class="row"> 
                                                <article class="col 1">
                                                   <p>Created: {{this.CreatedAt}}</p>
                                                </article>
                                                <article class="col 3">
                                                    {{#if this.UpdatedAt}}
                                                   <p>Last Update: {{this.UpdatedAt}}</p>
                                                    {{else}}
                                                   <p>Last Update: Not Updated</p>
                                                    {{/if}}
                                                </article>
                                            </article>
                                            <article class="row">  
                                                <article class="col 1">
                                                  <h2>Status: {{this.Status}}</h2>
                                                </article>
                                                <article class="col 3">            
                                                  <p>Table: {{this.TableName}} ID: {{this.TableId}}</p>
                                                  <p>Created by: {{this.CreatorName}}</p>
                                                  <p>Number of Diners: {{this.Diners}}</p>
                                                </article>
                                            </article>   
                                         </button>
                                    </article>   
                                  </article>
                                </article>
                             </form>
                           {{/each}}
                        </article>                        
                    </section>
                    <section class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished-tab">
                        <article class="row row-cols-1 row-cols-2">
                          {{#each Finished}}
                            <form action="/secure/orders/{{this.OrderId}}" enctype="multipart/form-data" method="get">
                              <article class="row">                                     
                                  <article class="col mb-3">
                                    <article class="card">                  
                                        <button type="submit" class="btn btn-outline-secondary btn-block" name="Order" value="{{this.OrderId}}">
                                            <article class="row"> 
                                                <article class="col 1">
                                                   <p>Created: {{this.CreatedAt}}</p>
                                                </article>
                                                <article class="col 3">
                                                    {{#if this.UpdatedAt}}
                                                   <p>Last Update: {{this.UpdatedAt}}</p>
                                                    {{else}}
                                                   <p>Last Update: Not Updated</p>
                                                    {{/if}}
                                                </article>
                                            </article>
                                            <article class="row">  
                                                <article class="col 1">
                                                  <h2>Status: {{this.Status}}</h2>
                                                </article>
                                                <article class="col 3">            
                                                  <p>Table: {{this.TableName}} ID: {{this.TableId}}</p>
                                                  <p>Created by: {{this.CreatorName}}</p>
                                                </article>
                                            </article>   
                                         </button>
                                    </article>   
                                  </article>
                                </article>
                             </form>
                           {{/each}}
                        </article>                        
                    </section>
                </article>
            </article> 
        </main>
    </body>
</html>