<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Create an Account</title>
        <meta name="description" content="Registration form to create users">
        <meta name="author" content="Adam Hampachel">
        <link href="{{host}}/styles/style.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{host}}/bootstrap/dist/css/bootstrap.min.css">           
        <script type="text/javascript" src="{{host}}/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="{{host}}/bootstrap/dist/js/bootstrap.min.js"></script>  
        <script type="module" src="{{host}}/main.js"></script>      
    </head> 
    <body>
        <header> 
            <ul class="nav justify-content">
                <li class="nav-item nav-main">
                    <a class="nav-link nav-a" href="/secure/profile">{{username}}</a>
                </li>
                <li class="nav-item nav-menu">
                    <a class="nav-link nav-a" href="/secure/orders">Orders</a>
                </li>
                <li class="nav-item nav-menu">
                    <a class="nav-link nav-a" href="/secure/tables">Tables</a>
                </li>
                <li class="nav-item nav-menu">
                    <a class="nav-link nav-a" href="/secure/menu">Menu</a>
                </li>
                <li class="nav-item nav-menu">
                    <a class="nav-link nav-a" href="/logout">Logout</a>
                </li>
            </ul>
        </header>      
        <main class="block">
            <section class="row">
                <section class="col-md-9">
                    <article class="container p-3 my-3 bg-white">       
                        <article class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-md-5 row-cols-lg-6">
                            {{#each Tables}}
                                <form action="/secure/tables/{{this.TableId}}" enctype="multipart/form-data" method="get">
                                  <article class="col mb-3">
                                    <article class="card">
                                      <button type="submit" name="Table" value="{{this.TableId}}">
                                      <img src="{{host}}/images/table.jpg" class="card-img-top" alt="Table">
                                      <article class="card-body">
                                        <h5 class="card-title">{{this.TableName}} ID:{{this.TableId}}</h5>
                                          <p class="card-text">Diners: {{this.Diners}}</p>
                                        <p class="card-text">{{this.Comment}}</p>
                                      </article>
                                      </button>
                                    </article>                      
                                  </article>
                                </form>
                            {{/each}}
                        </article>
                    </article> 
                </section>
                <section class="col-md-3">
                    <article class="container p-3 my-3 bg-white">    
                        <form action="/secure/tables" enctype="multipart/form-data" method="post">
                            
                            <input type="hidden" name ="TableId" value="{{Table}}"> 
                            <section class="row">
                                <article class="col style-padding">
                                      <input type="submit" class="btn btn-outline-dark btn-lg " name="Button" value="Add Table"/>   
                                </article>
                                {{#if Tables}}
                                <article class="col style-padding">
                                      <input type="submit" class="btn btn-outline-dark btn-lg" name="Button" value="Delete Table"/>   
                                </article>    
                                {{else}}
                                <article class="col style-padding">
                                      <input type="submit" class="btn btn-outline-dark btn-lg" disabled name="Button" value="Delete Table"/>   
                                </article>
                                {{/if}}
                            </section>
                        
<!--                         <form action="/secure/tables/{{TableId}}" enctype="multipart/form-data" method="post">
                        </form> -->
<!--                             {{#if Table}}
                            <section class="row">
                                <article class="col style-padding">
                                    <h5>Diners: {{Diners}}</h5>
                                </article>
                            </section>
                            <section class="row">
                                <article class="col style-padding">
                                      <input type="submit" class="btn btn-outline-dark btn-lg " name="Button" value="Add Diner"/>   
                                </article>
                                <article class="col style-padding">
                                      <input type="submit" class="btn btn-outline-dark btn-lg " name="Button" value="Delete Diner"/>   
                                </article>                                
                            </section> -->
                            </form>
                            <form action="/secure/table/{{Table}}" enctype="multipart/form-data" method="post">
                                <section class="row">                               
                                    <article class="col style-padding"> 
                                        <input type="hidden" name ="TableId" value="{{Table}}"> 
                                        <input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Table Orders"/>   
                                    </article>
                                </section>
                            </form>
                            <section class="row">
                                <article class="col style-padding">
                                    <a href="{{host}}/secure/payment/{{Table}}" class="btn btn-outline-dark btn-lg btn-block" role="button" aria-pressed="true">Payment NW</a>
                                </article>
                            </section>
                            <section class="row">
                                <article class="col style-padding">
                                    <a href="{{host}}/secure/tables/{{Table}}/modify" class="btn btn-outline-dark btn-lg btn-block" role="button" aria-pressed="true">Modify NW</a>
                                </article>
                            </section> 
                            {{else}}
                            <section class="row">                               
                                <article class="col style-padding">
                                      <input type="button" class="btn btn-outline-dark btn-lg btn-block" disabled name="Order" value="Order"/>   
                                </article>
                            </section>
                            <section class="row">
                                <article class="col style-padding">
                                      <input type="button" class="btn btn-outline-dark btn-lg btn-block" disabled name="Payment" value="Payment"/>   
                                </article>
                            </section>
                            <section class="row">
                                <article class="col style-padding">
                                      <input type="submit" class="btn btn-outline-dark btn-lg btn-block" disabled name="Modify" value="Modify"/>   
                                </article>
                            </section> 
                            {{/if}}
                    </article>
                </section>
            </section>
        </main>
    </body>
</html>
